html {
    font-size: 100%;
}

body {
    background: #ffffff;
}

div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.logo {
    width: 100%;
    border-bottom: 2px solid #000000;
    padding: 3% 0;
}

.head {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
}

.head img {
    max-width: 50px;
    height: 100%;
    width: 100%;
}

section {
    margin: 2% auto;
}

h1 {
    font-family: "Permanent Marker";
    font-size: 4rem;
    font-weight: 400;
}

h2 {
    font-family: "Permanent Marker";
    font-size: 3rem;
    font-weight: 400;
}

p {
    font-family: "Lato";
    font-size: 2.5rem;
    padding: 0 5%;
}   

.headshot {
    height: 70%;
    width: 70%;
    margin: 1% auto;
}

.icon {
    height: 20%;
    width: 20%;
    padding: 2%
}

.foot {
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid #000000;
}

.foot img {
    max-width: 50px;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    margin: 3% auto;
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 0 1%;
}

@media (min-width: 768px) {
    .headshot {
        height: 50%;
        width: 50%;
        margin: 1% auto;
    }
}

@media (min-width: 1200px) {
    .headshot {
        height: 30%;
        width: 30%;
        margin: 1% auto;
    }
}